/* styles/rectangular-button-styles.scss */

.rectangular-button {
  display: inline-block;
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
