/* styles/rectangular-button-styles.scss */

.rectangular-button {
  display: inline-block;
  margin-left: 10px;
  padding: 10px 20px;
  background-color: var(--gs-accent);
  color: var(--gs-accent-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
