.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding:32px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.gameList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
}
